@import '@/app/variables.module.scss';

.section {
  position: relative;
  min-width: 320px;

  padding-top: 32px;
  padding-bottom: 64px;
  padding-left: 4.44%;
  padding-right: 4.44%;
  background-color: $color1;
  background: linear-gradient(180deg, #c9dce2 0%, #f8f8f8 100%);
  overflow: hidden;

  @media screen and (min-width: 1920px) {
    min-width: 1920px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    padding-top: 128px;
    padding-bottom: 98px;
    padding-left: 120px;
    padding-right: 120px;
  }

  &_img_church1 {
    position: absolute;
    top: 163px;
    right: -36.57px;

    width: 262px;

    @media screen and (min-width: 480px) and (max-width: 1919.5px) {
      top: 163px;
      right: -36.57px;
      min-width: 40.875vw;
    }

    @media screen and (min-width: 1920px) {
      top: 24px;
      right: 120px;

      width: 593px;
    }
  }

  &_img_church2 {
    position: absolute;
    display: none;
    // top: 587px;
    // left: -48px;

    // width: 300px;

    @media screen and (min-width: 1920px) {
      display: block;
      bottom: 48px;
      left: 120px;

      width: 570px;
    }
  }

  &_subSection {
    position: relative;

    @media screen and (min-width: 1920px) {
      padding-top: 156px;
      padding-left: 120px;
      padding-bottom: 200px;
    }
  }

  &_title_h2 {
    max-width: 1060px;
    padding: 8px;

    font-family: 'Akvitania Modern';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(40 / 32);

    color: $color4;

    @media screen and (min-width: 1920px) {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 68px;

      margin: 0;
      line-height: calc(80 / 68);
    }
  }

  &_title_h3 {
    font-family: 'IrpinType';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(28 / 20);
    color: $color;
  }

  &_title_h4 {
    display: none;

    @media screen and (min-width: 1920px) {
      position: absolute;
      right: 128px;
      bottom: 0;
      top: 780px;
      display: block;
      width: 550px;
      font-family: Akvitania Modern;
      font-size: 68px;
      font-style: normal;
      font-weight: 400;
      line-height: calc(80 / 68);
      margin-left: auto;
      color: $color4;
    }
  }

  &_List {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-top: 20px;

    @media screen and (min-width: 1920px) {
      display: block;
      gap: 24px;
    }
  }

  &_ListItem {
    width: 100%;

    padding: 16px 8px;

    border-radius: 16px;
    background: rgba(156, 178, 201, 0.5);
    box-shadow: 2px 2px 10px 0px rgba(2, 31, 62, 0.5);
    transition-duration: 250ms;

    &:hover,
    &:focus {
      background: $color8;
      color: $color6;
      border: 0px solid $color8;

      div > h3 {
        color: $color6;
      }
    }
    cursor: pointer;

    @media screen and (min-width: 1920px) {
      margin-bottom: 24px;
      max-width: 700px;
      padding: 16px 24px;
    }

    &:last-child {
      margin-bottom: 0;

      @media screen and (min-width: 1920px) {
        margin-bottom: 16px;
      }
    }
  }

  &_ListItemFaq {
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_button {
    min-width: 48px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &::after {
      content: '';
      display: inline-block;
      width: 48px;
      height: 48px;
      background: url('../../img/svg/arrow-up-down.svg') no-repeat center;
      transition-duration: 250ms;
    }

    &.expanded::after {
      transform: rotate(180deg);
    }
  }

  &_description {
    margin-top: 16px;
    padding: 8px;

    font-family: 'IrpinType';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(24 / 16);
    color: $color4;

    background-color: $color1;
    border-radius: 0px 0px 16px 16px;

    @media screen and (min-width: 1920px) {
      font-family: Irpin Type;
      font-size: 20px;
      line-height: calc(28 / 20);
    }
  }
}
