@import '@/app/variables.module.scss';

.section {
  position: relative;
  padding: 160px 22px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      180deg,
      rgba(156, 178, 201, 0) 70.74%,
      rgba(156, 178, 201, 0.56) 82.22%,
      #9cb2c9 100%
    ),
    url('../../app/assets/hero/heroMob-1x.jpg');

  @media screen and (min-width: 768px) {
    background-image: image-set(
      url('../../app/assets/hero/heroTab-1x.jpg') 1x,
      url('../../app/assets/hero/heroTab-2x.jpg') 2x
    );
    background-image: -webkit-image-set(
      url('../../app/assets/hero/heroTab-1x.jpg') 1x,
      url('../../app/assets/hero/heroTab-2x.jpg') 2x
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 32px;
    background-image: linear-gradient(
        180deg,
        rgba(156, 178, 201, 0) 70.74%,
        rgba(156, 178, 201, 0.56) 82.22%,
        #9cb2c9 100%
      ),
      url('../../app/assets/hero/heroTab-1x.jpg');
  }

  @media screen and (min-width: 1920px) {
    background-image: image-set(
      url('../../app/assets/hero/hero1x.webp') 1x,
      url('../../app/assets/hero/hero2x.webp') 2x
    );
    background-image: -webkit-image-set(
      url('../../app/assets/hero/hero1x.jpg') 1x,
      url('../../app/assets/hero/hero2x.jpg') 2x
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.container {
  @media screen and (min-width: 768px) {
    padding: 391px 64px 64px 64px;
  }
  @media screen and (min-width: 1920px) {
    height: 920px;
    position: relative;
    padding: 48px 120px 16px 120px;
  }
}

.inputDiv {
  display: none;
  @media screen and (min-width: 1920px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 162px;
    & div:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.search {
  border-radius: 40px;
  border: 2px solid $color2;
  background: $color1;
  width: 800px;
  padding: 14px 24px;
  color: $color7;
  font-family: 'IrpinType';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.filter {
  width: 338px;
  padding: 14px 24px;
  border-radius: 40px;
  border: 2px solid $color2;
  background: $color1;
  color: $color7;
  font-family: 'IrpinType';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.inputContainer {
  position: relative;
}

.icon {
  position: absolute;
  border: none;
  padding: 0;
  background-color: transparent;
  right: 24px;
  top: 9px;
  cursor: pointer;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) and (max-width: 1919px) {
    padding-bottom: 17.53%;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 180px;
  }
}

.title {
  color: $color2;
  text-shadow: 2px 2px 10px $color-gradient4;
  font-family: 'Akvitania Modern';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 40px;
  padding: 8px;
  @media screen and (max-width: 424px) {
    align-self: self-start;
  }

  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 80px;
    line-height: 125%;
  }

  @media screen and (min-width: 1920px) {
    font-size: 100px;
    line-height: 120px;
    margin-bottom: 48px;
  }
}

.afterTitle {
  padding: 8px;
  color: $color2;
  text-shadow: 2px 2px 10px $color-gradient4;
  font-family: 'IrpinType';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  @media screen and (max-width: 1919px) {
    margin-bottom: 17.53vw;
  }
  @media screen and (min-width: 425px) {
    min-width: 350px;
    align-self: center;
  }
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
  }
  @media screen and (min-width: 1920px) {
    font-size: 32px;
    line-height: 48px;
  }
}

.list {
  position: absolute;
  bottom: 68px;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  & li:not(:last-child) {
    margin-right: 24px;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 176px;
  margin-bottom: 44px;
  @media screen and (min-width: 769px) {
    margin-bottom: 0;
    // justify-content: left;
  }
}

.listItemMob {
  padding: 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 24px;

  &:nth-child(even) {
    justify-content: right;
  }
  &:last-child {
    margin-bottom: 28px;
  }
}

.reverseRow {
  flex-direction: row-reverse;
}

.mardginLeft {
  margin-left: 24px;

  &::nth-child(odd) {
    margin-right: 0;
  }
}

.listNumber {
  @media screen and (max-width: 1439.9px) {
    margin-right: 32px;
    margin-left: 24px;
    font-family: 'IrpinType';
    font-size: 36px;
    color: $color3;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 32px;
    color: $color3;
    text-shadow: 2px 2px 10px $color-gradient4;
    font-family: 'IrpinType';
    font-size: 36px;
    line-height: 111%;
  }
  @media screen and (min-width: 1920px) {
    margin-right: 32px;
    color: $color1;
    text-shadow: 2px 2px 10px $color-gradient4;
    font-family: 'IrpinType';
    font-size: 64px;
    line-height: 70px;
    align-self: center;
  }
}

.listTitle {
  min-width: 228px;
  font-style: normal;
  font-family: 'IrpinType';
  font-size: 28px;
  color: $color5;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 114%;
  @media screen and (min-width: 480px) {
    // width: 370px;
  }

  @media screen and (min-width: 768px) {
    color: $color1;
  }
  @media screen and (max-width: 1024px) {
    max-width: 228px;
  }
  @media screen and (min-width: 1920px) {
    color: $color1;
    text-shadow: 2px 2px 10px $color-gradient4;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
  }
}

.listText {
  width: 228px;
  color: $color;
  font-family: 'IrpinType';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  @media screen and (min-width: 480px) {
    line-height: 24px;
    width: 370px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 228px;
  }

  @media screen and (min-width: 1920px) {
    color: $color1;
    text-shadow: 2px 2px 10px $color-gradient4;
    font-family: 'IrpinType';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 495px;
  }
}

.infoMobSection {
  position: relative;
  background: #f8f8f8;
  background-image: linear-gradient(
    0deg,
    rgba(156, 178, 201, 0) 70.74%,
    rgba(156, 178, 201, 0.56) 82.22%,
    #9cb2c9 100%
  );

  padding: 32px 16px;
  @media screen and (min-width: 768px) {
    padding: 32px 60px;
  }
  @media screen and (max-width: 767px) {
    background-repeat: no-repeat;
    display: block;
    background-image: linear-gradient(
      0deg,
      rgba(156, 178, 201, 0) 70.74%,
      rgba(156, 178, 201, 0.56) 82.22%,
      #9cb2c9 100%
    );
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.bgImg {
  position: absolute;
  top: 336px;
  right: -0px;
  @media screen and (min-width: 480px) {
    display: none;
  }
}

.swiper-pagination {
  display: none;
}

.swiper {
  // position: absolute;
  margin-top: auto;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1920px) {
    display: block;
    width: 1810px;
  }
  .swiper-scrollbar-horizontal {
    display: none;
  }
  .swiper-scrollbar {
    display: none;
  }
  .swiper-scrollbar-drag {
    display: none;
  }
}

.swiperSlide {
  @media screen and (min-width: 768px) {
    width: 228px;
  }
  @media screen and (min-width: 1920px) {
    width: 606px;
  }
}
